<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Valkyrie Security Inc.</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" /> -->
	<link href="{{ url_for('static', filename='custom_css/google_font.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='custom_css/google_fonts_roboto.css') }}" rel="styl/esheet">
	<!-- <link href="{{ url_for('static', filename='custom_css/google_fonts_oswald.css') }}" rel="styl/esheet"> -->
	<link href="{{ url_for('static', filename='one-page-parallax/css/app.min.css') }}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body data-spy="scroll" data-target="#header" data-offset="51">
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
		<!-- begin #header -->
		<div id="header" class="header navbar navbar-default navbar-fixed-top navbar-expand-lg">
			<!-- begin container -->
			<div class="container">
				<!-- begin navbar-brand -->
				<a href="index.html" class="navbar-brand">
					<!-- <span class="brand-logo"></span> -->
					<span class="brand-text">
						<span class="f-w-600">VALKYRIE</span>
					</span>
				</a>
				<!-- end navbar-brand -->
				<!-- begin navbar-toggle -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<!-- end navbar-toggle -->
				<!-- begin navbar-collapse -->
				<div class="collapse navbar-collapse" id="header-navbar">
					<ul class="nav navbar-nav navbar-right">
						<li class="nav-item"><a class="nav-link active" href="#home" data-click="scroll-to-target" >HOME </a></li>
						<li class="nav-item"><a class="nav-link" href="#about" data-click="scroll-to-target">ABOUT</a></li>
						<li class="nav-item"><a class="nav-link" href="#pledge_of_loyalty" data-click="scroll-to-target">PLEDGE OF LOYALTY</a></li>
						<li class="nav-item"><a class="nav-link" href="#code_of_conduct" data-click="scroll-to-target">CODE OF CONDUCT</a></li>
						<li class="nav-item"><a class="nav-link" href="#general_orders" data-click="scroll-to-target">GENERAL ORDERS</a></li>
						<!-- <li class="nav-item"><a class="nav-link" href="#team" data-click="scroll-to-target">TEAM</a></li> -->
						<li class="nav-item"><a class="nav-link" href="#service" data-click="scroll-to-target">SERVICES</a></li>
						<li class="nav-item"><a class="nav-link" href="#faq" data-click="scroll-to-target">FAQs</a></li>
						<li class="nav-item"><a class="nav-link" href="#contact" data-click="scroll-to-target">CONTACT</a></li>
					</ul>
				</div>
				<!-- end navbar-collapse -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #header -->
		
		<!-- begin #home -->
		<div id="home" class="content has-bg home">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(static/one-page-parallax/img/bg/bg-home.jpg);" 
				data-paroller="true" 
				data-paroller-factor="0.5"
				data-paroller-factor-xs="0.25">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container home-content text-inverse" style="top: 30%;">
				
				<img class="img-fluid mb-1 logo" src="{{ url_for('static', filename='one-page-parallax/img/custom_img/valkyrie.png') }}" alt="" style="width: 600px;" >
				
				<!-- <h1>Welcome to Color Admin</h1>-->
				<!-- <h3 class="text-inverse f-w-600">VIP security services tailored to your unique needs</h3>  -->
				<h2 class="text-inverse f-w-600 roboto_con_700">VALKYRIE SECURITY INCORPORATED</h2> 
				<p class="f-s-15 f-w-500 mb-3">
					Private security is our specialty, and we prioritize the safety and privacy of our clients above all else. 
				</p>
				<p class="f-s-15 f-w-500 mb-3">
					With meticulous attention to detail, our security personnel provide comprehensive protection tailored to your 
					specific needs. Whether it's safeguarding a private residence, securing a corporate event, or ensuring the safety 
					of VIPs, we are committed to delivering top-tier private security services.
				</p>
				<!-- <a href="#" class="btn btn-theme btn-primary">Explore More</a> <a href="#" class="btn btn-theme btn-outline-white">Purchase Now</a><br /> -->
				<br />
			</div>
			<!-- end container -->
		</div>
		<!-- end #home -->
		
		<!-- begin #about -->
		<div id="about" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">ABOUT US</h2>
				<p class="content-desc mb-3">
					We are extensively trained in various aspects of security, including the proficient use of small to medium firearms. 
					We understand the importance of equipping our team with the necessary skills to handle any potential threat with precision 
					and confidence. 
				</p>
				<p class="content-desc">
					Our expertly trained professionals undergo rigorous training programs, ensuring they possess the expertise 
					and knowledge required to effectively protect our clients and their assets.
				</p>
				<div class="row">
					<div class="col-lg-6">
						<h3 class="mb-3">OUR MISSION</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Vestibulum posuere augue eget ante porttitor fringilla. 
							Aliquam laoreet, sem eu dapibus congue, velit justo ullamcorper urna, 
							non rutrum dolor risus non sapien. Vivamus vel tincidunt quam. 
							Donec ultrices nisl ipsum, sed elementum ex dictum nec. 
						</p>
						<p>
							In non libero at orci rutrum viverra at ac felis. 
							Curabitur a efficitur libero, eu finibus quam. 
							Pellentesque pretium ante vitae est molestie, ut faucibus tortor commodo. 
							Donec gravida, eros ac pretium cursus, est erat dapibus quam, 
							sit amet dapibus nisl magna sit amet orci. 
						</p>
					</div>
					<div class="col-lg-6">
						<h3 class="mb-3">OUR VISION</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Vestibulum posuere augue eget ante porttitor fringilla. 
							Aliquam laoreet, sem eu dapibus congue, velit justo ullamcorper urna, 
							non rutrum dolor risus non sapien. Vivamus vel tincidunt quam. 
							Donec ultrices nisl ipsum, sed elementum ex dictum nec. 
						</p>
						<p>
							In non libero at orci rutrum viverra at ac felis. 
							Curabitur a efficitur libero, eu finibus quam. 
							Pellentesque pretium ante vitae est molestie, ut faucibus tortor commodo. 
							Donec gravida, eros ac pretium cursus, est erat dapibus quam, 
							sit amet dapibus nisl magna sit amet orci. 
						</p>
					</div>					
				</div>
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->
		
		
		<!-- begin #quote -->
		<div id="quote" class="content bg-black-darker has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(static/one-page-parallax/img/custom_img/security-1.jpg)"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInLeft">
				<!-- begin row -->
				<div class="row justify-content-center">
					<!-- begin col-12 -->
					<div class="col-lg-8 quote">
						<i class="fa fa-quote-left"></i> 
						We prioritize confidentiality and discretion, safeguarding the privacy and personal safety of our VIP clients. 
						<i class="fa fa-quote-right"></i>
						<!-- <small>Sean Themes, Developer Teams in Malaysia</small> -->
					</div>
					<!-- end col-12 -->
				</div>
				<!-- end row -->
			</div>
			<!-- end container -->
		</div>
		<!-- end #quote -->

		<!-- begin #code_of_conduct -->
		<div id="pledge_of_loyalty" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">PLEDGE OF LOYALTY</h2>
				
				<p class="text-center f-s-18">
					IT IS MY PLEDGE TO KEEP AND WATCH AND BE ALWAYS ALERT NIGHTS AND DAYS, <br>
					NEAR OF FAR RISKY OR WELL I SHALL ABIDE FAITHFULLY AND CONSCIENTIUOSLY <br>
					TO THE CODE OF DISCIPLINE, IN THE CODE OF CONDUCT, <br>
					AND THE ELEVEN GENERAL ORDERS. <br> 
					I SHALL SECURE AS BEST AS I CAN THE LIVES AND <br>
					PROPERTIES ENTRUSTED TO ME TO UPHOLD. <br>
					I WILL ONLY MAIM OR DISABLE, BUT NOT TO KILL. <br>
					I WILL NOT FRATERNIZE, INSTEAD TO FIRM. <br>
					I WILL REMAIN IN CORRUPTIBLE. <br>
					I WILL HOLD THE CONFIDENCE OF THE FINEST PEOPLE. <br>
					WHEN MY DAY IS DONE AND QUIT MY POST, <br>
					I SHALL HAVE IN THOUGHT THAT I HAVE DONE MY DUTY <br>
					WITH FAVOR AND NOTHING BUT THE BEST OF ALL; <br>
					I HAVE SERVE THE GOOD AND, BEST OF ALL, <br>
					THAT I HAVE PERFORMED MY DUTY WITH LOVE AND DEDICATION <br> 
					TO ALL PEOPLE I AM SUPPOSED TO SERVE. <br>
					THAT IN ACCOMPLISHING MY TASK, I KNOW AND BELIEVE THAT GOD IS ALWAYS WITH ME, <br>
					ALWAYS READY TO HELP ME TO DO MY JOB WELL FOR THE <br>
					SATISFACTION OF MY CLIENTS AND AGENCY.
				</p>

			</div>
			<!-- end container -->
		</div>
		<!-- end #code_of_conduct -->
				
		<!-- begin #code_of_conduct -->
		<div id="code_of_conduct" class="content bg-silver-lighter" data-scrollview="true">
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">CODE OF CONDUCT</h2>
			
				<ul class="list-group list-group-flush border-0">
					<li class="list-group-item bg-silver-lighter">
						1.	&nbsp; He shall carry with him at all times during his tour of duty his license, identification card and duty detail order with an authority to carry firearms.
					</li>
					<li class="list-group-item bg-silver-lighter">
						2.	&nbsp; He shall not use his and other privileges if any, to the prejudice of the public, the client or customers and his agency.
					</li>
					<li class="list-group-item bg-silver-lighter">
						3.	&nbsp; He shall not engage in any unnecessary conversation with anybody except in discharge of his duties or sit down unless required by the nature of his work and shall at all times keep himself alert during his tour of duty.
					</li>
					<li class="list-group-item bg-silver-lighter">
						4.	&nbsp; He shall refrain from reading newspapers, magazines, books, etc. while actually performing his duties.
					</li>
					<li class="list-group-item bg-silver-lighter">
						5.	&nbsp; He shall not drink intoxicating liquor immediatley before and during his tour of duty.
					</li>
					<li class="list-group-item bg-silver-lighter">
						6.	&nbsp; He shall know the location of the fire alarm box near his post and to sound the alarm in case of fire or disorder.
					</li>
					<li class="list-group-item bg-silver-lighter">
						7.	&nbsp; He shall know to operate any fire extinguisher at his post.
					</li>
					<li class="list-group-item bg-silver-lighter">
						8.	&nbsp; He shall know the location of the telephone and/or the telephone number of the police precincts as well as the telephone numbers of the fire stations in the locality.
					</li>
					<li class="list-group-item bg-silver-lighter">
						9.	&nbsp; He shall immediatley notify the police in case of any sign of disorder, strikes, riot, or any serious violation of the life and property.
					</li>
					<li class="list-group-item bg-silver-lighter">
						10.	&nbsp; He shall familiarize himself with the Private Security Agancy Law (RA No.5487) and the implementing rules and regulations.
					</li>
				</ul>

			</div>
		</div>
		<!-- end #code_of_conduct -->
				
		<!-- begin #general_orders -->
		<div id="general_orders" class="content " data-scrollview="true">
			<div class="container" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">11 GENERAL ORDERS</h2>

				<ul class="list-group list-group-flush border-0">
					<li class="list-group-item">
						1.	&nbsp; To take charge of the post and all company properties in view and protect/preserve the same with utmost diligence.
					</li>
					<li class="list-group-item">
						2.	&nbsp; To walk in an alert manner during my tour of duty and observe everything within sight or hearing.
					</li>
					<li class="list-group-item">
						3.	&nbsp; To report all violations of regulations or orders I am instructed to enforce.
					</li>
					<li class="list-group-item">
						4.	&nbsp; To relay all calls from post more distant from the guard house than my own.
					</li>
					<li class="list-group-item">
						5.	&nbsp; To quit my post only when properly relieved.
					</li>
					<li class="list-group-item">
						6.	&nbsp; To receive, obey and pass to the relieving guard all orders from the company officials, officers in the agency, supervisor, post in charge or shift leaders.
					</li>
					<li class="list-group-item">
						7.	&nbsp; To talk to no one except in the line of duty.
					</li>
					<li class="list-group-item">
						8.	&nbsp; To give the alarm in case of fire or disorder.
					</li>
					<li class="list-group-item">
						9.	&nbsp; To call the superior officer in any case not covered by instructions.
					</li>
					<li class="list-group-item">
						10.	&nbsp; To salute all company officials, superiors in the agency, ranking public officials and officers of the Philippines National Police.
					</li>
					<li class="list-group-item">
						11.	&nbsp; To be especially watchful at night, and during the time of challenging, to challenge all persons on or near my post, and allow no one to pass or loiter without proper authority.
					</li>
				</ul>

			</div>
		</div>
		<!-- end #general_orders -->

		
		<!-- beign #service -->
		<div id="service" class="content bg-silver-lighter" data-scrollview="true">
			<!-- begin container -->
			<div class="container">
				<h2 class="content-title">OUR SERVICES</h2>
				<p class="content-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
					sed bibendum turpis luctus eget
				</p>
				
				<div class="row">
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-users"></i></div>
							<div class="info">
								<h4 class="title">Personal Protection</h4>
								<p class="desc">Duis in lorem placerat, iaculis nisi vitae, ultrices tortor. Vestibulum molestie ipsum nulla. Maecenas nec hendrerit eros, sit amet maximus leo.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-lock"></i></div>
							<div class="info">
								<h4 class="title">Commercial Security</h4>
								<p class="desc">Etiam nulla turpis, gravida et orci ac, viverra commodo ipsum. Donec nec mauris faucibus, congue nisi sit amet, lobortis arcu.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-copy"></i></div>
							<div class="info">
								<h4 class="title">Security Consulting</h4>
								<p class="desc">Ut vel laoreet tortor. Donec venenatis ex velit, eget bibendum purus accumsan cursus. Curabitur pulvinar iaculis diam.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-inbox"></i></div>
							<div class="info">
								<h4 class="title">Objects Protected</h4>
								<p class="desc">Aenean et elementum dui. Aenean massa enim, suscipit ut molestie quis, pretium sed orci. Ut faucibus egestas mattis.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-camera"></i></div>
							<div class="info">
								<h4 class="title">Surveillance Cameras</h4>
								<p class="desc">Quisque gravida metus in sollicitudin feugiat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="service">
							<div class="icon" data-animation="true" data-animation-type="bounceIn"><i class="fa fa-car"></i></div>
							<div class="info">
								<h4 class="title">Transport Security</h4>
								<p class="desc">Integer consectetur, massa id mattis tincidunt, sapien erat malesuada turpis, nec vehicula lacus felis nec libero. Fusce non lorem nisl.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end container -->
		</div>
		<!-- end #about -->
		
		<!-- begin #team -->
		<!-- <div id="team" class="content" data-scrollview="true">
			<div class="container text-center">
				<h2 class="content-title">OUR TEAM</h2>
				<p class="content-desc">
					Phasellus suscipit nisi hendrerit metus pharetra dignissim. Nullam nunc ante, viverra quis<br /> 
					ex non, porttitor iaculis nisi.
				</p>
				<div class="row">
					<div class="col-lg-4">
						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src=" {{ url_for('static', filename='one-page-parallax/img/user/user-1.jpg') }} " alt="Ryan Teller" />
							</div>
							<div class="info">
								<h3 class="name">Ryan Teller</h3>
								<div class="title text-primary">FOUNDER</div>
								<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src="{{ url_for('static', filename='one-page-parallax/img/user/user-2.jpg') }}" alt="Jonny Cash" />
							</div>
							<div class="info">
								<h3 class="name">Johnny Cash</h3>
								<div class="title text-primary">WEB DEVELOPER</div>
								<p>Donec quam felis, ultricies nec, pellentesque eu sem. Nulla consequat massa vierra quis enim.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="team">
							<div class="image" data-animation="true" data-animation-type="flipInX">
								<img src="{{ url_for('static', filename='one-page-parallax/img/user/user-3.jpg') }}" alt="Mia Donovan" />
							</div>
							<div class="info">
								<h3 class="name">Mia Donovan</h3>
								<div class="title text-primary">WEB DESIGNER</div>
								<p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean ligula imperdiet. </p>
							</div>
						</div>
					</div>
				</div>
				<a href="#" class="btn btn-theme btn-primary mt-3">View All</a>
			</div>
		</div> -->
		<!-- end #team -->
		
		
		<!-- beign #action-box -->
		<div id="action-box" class="content has-bg" data-scrollview="true">
			<!-- begin content-bg -->
			<div class="content-bg" style="background-image: url(static/one-page-parallax/img/custom_img/security-3.jpg)"
				data-paroller-factor="0.5"
				data-paroller-factor-md="0.01"
				data-paroller-factor-xs="0.01">
			</div>
			<!-- end content-bg -->
			<!-- begin container -->
			<div class="container" data-animation="true" data-animation-type="fadeInRight">
				<!-- begin row -->
				<div class="row justify-content-center">
					<!-- begin col-12 -->
					<div class="col-lg-8  quote">
						<i class="fa fa-quote-left"></i> 
						Our VIP security protocols are designed to anticipate and respond swiftly to any potential security threats.
						<i class="fa fa-quote-right"></i>
						<!-- <small>Sean Themes, Developer Teams in Malaysia</small> -->
					</div>
					<!-- end col-12 -->
				</div>
				<!-- end row -->

			</div>
			<!-- end container -->
		</div>
		<!-- end #action-box -->
		
		<!-- begin #work -->
		<div id="faq" class="content" data-scrollview="true">
			<!-- begin container -->
			<div class="container p-b-40" data-animation="true" data-animation-type="fadeInDown">
				<h2 class="content-title">F.A.Q</h2>
				<p class="content-desc">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br />
					sed bibendum turpis luctus eget
				</p>
				<!-- begin row -->

				<div id="accordion" class="accordion">
					<div class="card ">
						<div class="card-header bg-grey  pointer-cursor align-items-center d-flex f-s-20" data-toggle="collapse" data-target="#collapseOne">
							<i class="fa fa-circle fa-fw text-white mr-2 f-s-8"></i> What are dividends? Do they get reinvested?
						</div>
						<div id="collapseOne" class="collapse show" data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="card ">
						<div class="card-header bg-grey pointer-cursor d-flex align-items-center collapsed f-s-20" data-toggle="collapse" data-target="#collapseTwo">
							<i class="fa fa-circle fa-fw text-white mr-2 f-s-8"></i> What factors go into my Retirement goal?
						</div>
						<div id="collapseTwo" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="card ">
						<div class="card-header bg-grey pointer-cursor d-flex align-items-center collapsed f-s-20" data-toggle="collapse" data-target="#collapse-3">
							<i class="fa fa-circle fa-fw text-white mr-2 f-s-8"></i> Why is my deposit still pending?
						</div>
						<div id="collapse-3" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="card ">
						<div class="card-header bg-grey pointer-cursor d-flex align-items-center collapsed f-s-20" data-toggle="collapse" data-target="#collapse-4">
							<i class="fa fa-circle fa-fw text-white mr-2 f-s-8"></i> Why does my investing account say “funding in progress”?
						</div>
						<div id="collapse-4" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="card ">
						<div class="card-header bg-grey pointer-cursor d-flex align-items-center collapsed f-s-20" data-toggle="collapse" data-target="#collapse-5">
							<i class="fa fa-circle fa-fw text-white mr-2 f-s-8"></i> How can I reactivate my membership?
						</div>
						<div id="collapse-5" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					<div class="card ">
						<div class="card-header bg-grey pointer-cursor d-flex align-items-center collapsed f-s-20" data-toggle="collapse" data-target="#collapse-6">
							<i class="fa fa-circle fa-fw text-white mr-2 f-s-8"></i> What Are Your Terms And Conditions
						</div>
						<div id="collapse-6" class="collapse" data-parent="#accordion">
							<div class="card-body">
								Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
							</div>
						</div>
					</div>
					
				</div>

			</div>
			<!-- end container -->
		</div>
		<!-- end #work -->
		
		
		
		<!-- begin #contact -->
		<div id="contact" class="content bg-silver-lighter" data-scrollview="true">
			<!-- begin container -->
			<div class="container p-b-40">
				<h2 class="content-title">Have an inquiry?</h2>
				<!-- <p class="content-desc">
					Ground Floor, Ashgard Industries Bldg., C. Congson St., Cambiohan, Casili, Consolacion, Cebu, 6001
				</p> -->
				
				
				<div class="row justify-content-center">
					<!-- <div class="col"></div>
					
					<div class="col-lg-8 p-b-30" data-animation="true" data-animation-type="fadeInRight">
						<i class="fas fa-map-marker-alt fa-2x fa-fw m-r-10 text-primary"></i>
						<span>Ground Floor, Ashgard Industries Bldg., C. Congson St., Cambiohan, Casili, Consolacion, Cebu, 6001</span>
					</div>
					
					<div class="col"></div> -->

					
					<div class="col-lg-4" data-animation="true" data-animation-type="fadeInRight">
						<div class="row">
							<div class="col-2">
								<div class="p-2"  data-animation="true" data-animation-type="fadeInLeft">
									<div class="icon-large text-primary">
										<i class="fas fa-map-marker-alt fa-2x"></i>
									</div>
									<br>
								</div>
							</div>
							<div class="col-10">
								<h5>Addess</h5>
								<p>
									Ground Floor, Ashgard Industries Bldg., C. Congson St., Cambiohan, Casili, Consolacion, Cebu, 6001
								</p>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4" data-animation="true" data-animation-type="fadeInRight">
						<div class="row">
							<div class="col-2">
								<div class="p-2"  data-animation="true" data-animation-type="fadeInLeft">
									<div class="icon-large text-primary">
										<i class="fas fa-phone fa-2x"></i>
									</div>
									<br>
								</div>
							</div>
							<div class="col-10">
								<h5>Contact number</h5>
								<p>09602710443</p>
							</div>
						</div>
					</div>
					
					<div class="col-lg-4 form-col" data-animation="true" data-animation-type="fadeInRight">
						<div class="row">
							<div class="col-2">
								<div class="p-2"  data-animation="true" data-animation-type="fadeInLeft">
									<div class="icon-large text-primary">
										<i class="fas fa-envelope fa-2x"></i>
									</div>
									<br>
								</div>
							</div>
							<div class="col-10">
								<h5>Email</h5>
								<p>valkyrie@ashgard.com.ph</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 form-col" data-animation="true" data-animation-type="fadeInRight">
						<h6>SOSIA Hotline: &nbsp; (02) 87230401 loc. 4318</h6>
						<h6>EMD: &nbsp; 09395787633</h6>
					</div>
					<div class="col-lg-4 form-col" data-animation="true" data-animation-type="fadeInRight">
						<h6>SLD: &nbsp; (02) 85349878</h6>
						<h6>STMD: &nbsp; (02) 86503542</h6>
					</div>
					<div class="col-lg-4 form-col" data-animation="true" data-animation-type="fadeInRight">
						<h6>SCMD: &nbsp; (02) 6380583</h6>
						<h6>RCSU 7: &nbsp; (032) 341-4362</h6>
					</div>

				</div>
			</div>
			<!-- end container -->
		</div>
		<!-- end #contact -->
		
		<!-- begin #footer -->
		<!-- <div id="footer" class="footer">
			<div class="container">
				<div class="footer-brand">
					<div class="footer-brand-logo"></div>
					Color Admin
				</div>
				<p>
					&copy; Copyright Valkyrie 2020 <br />
					An admin & front end theme with serious impact. Created by <a href="#">SeanTheme</a>
				</p>
				<p class="social-list">
					<a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>
					<a href="#"><i class="fab fa-instagram fa-fw"></i></a>
					<a href="#"><i class="fab fa-twitter fa-fw"></i></a>
					<a href="#"><i class="fab fa-google-plus-g fa-fw"></i></a>
					<a href="#"><i class="fab fa-dribbble fa-fw"></i></a>
				</p>
			</div>
		</div> -->
		<!-- end #footer -->
		
	</div>
	<!-- end #page-container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename='one-page-parallax/js/app.min.js') }}"></script>
	<!-- ================== END BASE JS ================== -->
</body>
</html>
