<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Valkyrie Security Inc. | {{ page_title }}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" /> -->
	<link href="{{ url_for('static', filename='custom_css/google_font.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='custom_css/google_fonts_roboto.css') }}" rel="styl/esheet">
	<link href="{{ url_for('static', filename='one-page-parallax/css/form-app.min.css') }}" rel="stylesheet" />

	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
    <!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

    <!-- begin #header -->
	<div id="header" class="header navbar navbar-default navbar-fixed-top navbar-expand-lg">
		<!-- begin container -->
		<div class="container">
			<a href="#" class="navbar-brand">
				<span class="brand-text">
                    <span class="f-w-600">VALKYRIE</span>
				</span>
			</a>
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end container -->
	</div>
	<!-- end #header -->
    
	
	<!-- begin search-banner -->
	<div class="search-banner has-bg">
		<!-- begin bg-cover -->
		<div class="bg-cover" data-paroller="true" data-paroller-factor="0.5" data-paroller-factor-xs="0.01" style="background-image: url(static/one-page-parallax//img/cover/cover-1.jpg)"></div>
		<!-- end bg-cover -->
		<!-- begin container -->
		<div class="container">
			<h1>VALKYRIE APPLICATION FORM</h1>
			<h5 class="f-s-14 m-b-10">Provided training to out personnel</h5>
			<ul class="popular-tags">
				<li><a href="#"><i class="fa fa-circle"></i> Firearms handling</a></li>
				<li><a href="#"><i class="fa fa-circle"></i> Marksman training</a></li>
				<li><a href="#"><i class="fa fa-circle"></i> VIP protection</a></li>
				<li><a href="#"><i class="fa fa-circle"></i> OSINT operation</a></li>
			</ul>
		</div>
		<!-- end container -->
	</div>
	<!-- end search-banner -->
	
	<!-- begin content -->
	<div class="content">
		<!-- begin container -->
		<div class="container">
			<!-- begin card-forum -->
			<div class="card card-forum mb-3">
				<!-- begin card-header -->
				<div class="card-header">
					<span class="f-w-600 f-s-18">Inputs with a red asterisk (<span class="text-danger f-s-17">*</span>) are required.</span>
				
				</div>
				<!-- end card-header -->
                <div class="card-body my-5">
                    <form action="/upload" id="upload-resume" enctype="multipart/form-data" method="POST">
                        <legend class="m-b-15 px-5"><i class="fas fa-sm  m-r-5 fa-user"></i> FULLNAME</legend>
                        <div class="row row-space-10 px-5">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="first_name" placeholder="First Name" data-parsley-required="true" required />
                                    <label for="First Name"><span class="text-danger f-s-17">*</span> First Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="mid_name" placeholder="Middle Name">
                                <label for="Middle Name">Middle Name</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="last_name" placeholder="Last Name" required>
                                <label for="Last Name"><span class="text-danger f-s-17">*</span> Last Name</label>
                            </div>
                        </div>

                        <legend class="m-b-15 px-5"><i class="fas fa-sm  m-r-5 fa-calendar-alt"></i> DATE OF BIRTH</legend>
                        <div class="row row-space-10 px-5">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="month" placeholder="Month" required>
                                    <label for="Month"><span class="text-danger f-s-17">*</span> Month</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="day" placeholder="Day" required>
                                <label for="Day"><span class="text-danger f-s-17">*</span> Day</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="year" placeholder="Year" required>
                                <label for="Year"><span class="text-danger f-s-17">*</span> Year</label>
                            </div>
                        </div>
                        
                        <legend class="m-b-15 px-5"><i class="fas fa-sm  m-r-5 fa-map-marker-alt"></i> ADDRESS</legend>
                        <div class="row row-space-10 px-5">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="street_add" required>
                                    <label for=""><span class="text-danger f-s-17">*</span> Street address</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="street_add_two" placeholder="">
                                    <label for="">Street address 2</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="city" required>
                                    <label for=""><span class="text-danger f-s-17">*</span> City</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="province" required>
                                    <label for=""><span class="text-danger f-s-17">*</span> Province</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="zip_code" placeholder="6000" required>
                                    <label for=""><span class="text-danger f-s-17">*</span> Zip Code</label>
                                </div>
                            </div>
                        </div>
                        
                        <legend class="m-b-15 px-5"><i class="fas fa-sm  m-r-5 fa-envelope"></i> CONTACT</legend>
                        <div class="row row-space-10 px-5">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-lg" id="email" required>
                                    <label for=""><span class="text-danger f-s-17">*</span> Email</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="phone_num" required>
                                    <label for=""><span class="text-danger f-s-17">*</span> Phone number</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="linkedin">
                                    <label for="LinkedIn">LinkedIn (if any)</label>
                                </div>
                            </div>
                        </div>


                        <legend class="m-b-15 px-5"><i class="fas fa-sm  m-r-5 fa-envelope"></i> UPLOAD RESUME</legend>
                        <div class="row row-space-10 px-5">
                            <div class="col-md-12">
                                <input type="file" class="custom-file-input form-control form-control-lg" id="upload-resume" required>
                                <label class="mb-3 custom-file-label" style="font-weight: 300" id="file_input_label"><span class="text-danger f-s-17">*</span> Upload .doc, .docx, .pdf</label>
                            </div>
                        </div>
                        
                        <br>
                        <br>
                        <hr>
                        <div class="row row-space-10 px-5">
                            <div class="col-md-12 text-center">
                                
                                <button type="submit" class="btn btn-lg btn-primary m-r-5">SUBMIT APPLICATION</button>

                            </div>
                        </div>
                        
                    </form>

                </div>
			</div>
			<!-- end card-forum -->
		</div>
	</div>
	<!-- end content -->

    <div id="footer" class="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="section-container">
						<h4 class="footer-title">About Color Admin</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices ipsum in elementum porttitor. 
							Cras porttitor fermentum nisl non elementum. Nulla in placerat libero. Nulla pharetra purus eget diam dictum 
							ullamcorper nec et eros. Suspendisse consectetur nulla ut volutpat aliquam.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- begin #footer-copyright -->
	<div id="footer-copyright" class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					&copy; 2023 Valkyrie Security Inc. All Right Reserved
				</div>
				<div class="col-md-6 text-md-right">
					<a href="#" class="mr-4">Contact Us</a> 
				</div>
			</div>
		</div>
	</div>
	<!-- end #footer-copyright -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename='one-page-parallax/js/form-app.min.js') }} "></script>
<!--     
	<script src="{{ url_for('static', filename='assets/plugins/parsleyjs/dist/parsley.min.js') }} "></script>
	<script src="{{ url_for('static', filename='assets/plugins/highlight.js/highlight.min.js') }} "></script>
	<script src="{{ url_for('static', filename='assets/js/demo/render.highlight.js') }} "></script> -->

	<!-- ================== END BASE JS ================== -->
</body>
</html>
