<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Valkyrie Security Inc. | {{ page_title }}</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" /> -->
	<link href="{{ url_for('static', filename='custom_css/google_font.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='custom_css/google_fonts_roboto.css') }}" rel="styl/esheet">
	<!-- <link href="{{ url_for('static', filename='custom_css/google_fonts_oswald.css') }}" rel="styl/esheet"> -->
	<link href="{{ url_for('static', filename='one-page-parallax/css/form-app.min.css') }}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
  <!-- begin #header -->
	<div id="header" class="header navbar navbar-default navbar-fixed-top navbar-expand-lg">
		<!-- begin container -->
		<div class="container">
			<!-- begin navbar-brand -->
			<a href="#" class="navbar-brand">
				<span class="brand-text">
					Valkyrie Application Form
				</span>
			</a>
			<!-- end navbar-brand -->
			<!-- begin navbar-toggle -->
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<!-- end navbar-toggle -->
			
		</div>
		<!-- end container -->
	</div>
	<!-- end #header -->
	
	<!-- begin search-banner -->
	<div class="search-banner has-bg">
		<!-- begin bg-cover -->
		<div class="bg-cover" data-paroller="true" data-paroller-factor="0.5" data-paroller-factor-xs="0.01" style="background-image: url(static/one-page-parallax//img/cover/cover-1.jpg)"></div>
		<!-- end bg-cover -->
		<!-- begin container -->
		<div class="container">
			<h1>Come join our crew</h1>
			<h5 class="f-s-14 m-b-10">Provided training to out personnel</h5>
			<ul class="popular-tags">
				<li><a href="#"><i class="fa fa-circle"></i> Firearms handling</a></li>
				<li><a href="#"><i class="fa fa-circle"></i> Marksman training</a></li>
				<li><a href="#"><i class="fa fa-circle"></i> VIP protection</a></li>
				<li><a href="#"><i class="fa fa-circle"></i> OSINT operation</a></li>
			</ul>
		</div>
		<!-- end container -->
	</div>
	<!-- end search-banner -->
	
	<!-- begin content -->
	<div class="content">
		<!-- begin container -->
		<div class="container">
			<!-- begin card-forum -->
			<div class="card card-forum mb-3">
				<!-- begin card-header -->
				<div class="card-header f-w-600">
					Official Management District
				</div>
				<!-- end card-header -->
                <div class="card-body">

                        <legend class="m-b-15"><i class="fas fa-sm  m-r-5 fa-user"></i> Fullname</legend>
                        <div class="row row-space-10">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="first_name" placeholder="First Name">
                                    <label for="First Name">First Name</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="mid_name" placeholder="Middle Name">
                                <label for="Middle Name">Middle Name</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="last_name" placeholder="Last Name">
                                <label for="Last Name">Last Name</label>
                            </div>
                        </div>

                        <legend class="m-b-15"><i class="fas fa-sm  m-r-5 fa-calendar-alt"></i>  Date of birth</legend>
                        <div class="row row-space-10">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="month" placeholder="Month">
                                    <label for="Month">Month</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="day" placeholder="Day">
                                <label for="Day">Day</label>
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control form-control-lg" id="year" placeholder="Year">
                                <label for="Year">Year</label>
                            </div>
                        </div>
                        
                        <legend class="m-b-15"><i class="fas fa-sm  m-r-5 fa-map-marker-alt"></i> Address</legend>
                        <div class="row row-space-10">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="street_add" placeholder="Street address">
                                    <label for="">Street address</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="street_add_two" placeholder="">
                                    <label for="">Street address 2</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="city" placeholder="City">
                                    <label for="">City</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="province" placeholder="Province">
                                    <label for="">Province</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="zip_code" placeholder="Zip Code">
                                    <label for="">Zip Code</label>
                                </div>
                            </div>
                        </div>
                        
                        <legend class="m-b-15"><i class="fas fa-sm  m-r-5 fa-envelope"></i> Contact</legend>
                        <div class="row row-space-10">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="city" placeholder="City">
                                    <label for="">City</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="province" placeholder="">
                                    <label for="">Phone number</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg" id="linkedin" placeholder="">
                                    <label for="LinkedIn">LinkedIn (if any)</label>
                                </div>
                            </div>
                        </div>
                        



                        <!-- <button type="submit" class="btn btn-sm btn-primary m-r-5">Login</button>
                        <button type="submit" class="btn btn-sm btn-default">Cancel</button> -->
                            



                </div>
			</div>
			<!-- end card-forum -->
		</div>
	</div>
	<!-- end content -->

    <div id="footer" class="footer">
		<!-- begin container -->
		<div class="container">
			<!-- begin row -->
			<div class="row">
				<div class="col-md-4">
					<!-- begin section-container -->
					<div class="section-container">
						<h4 class="footer-title">About Color Admin</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultrices ipsum in elementum porttitor. 
							Cras porttitor fermentum nisl non elementum. Nulla in placerat libero. Nulla pharetra purus eget diam dictum 
							ullamcorper nec et eros. Suspendisse consectetur nulla ut volutpat aliquam.
						</p>
					</div>
					<!-- end section-container -->
				</div>
				<!-- end col-4 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
	
	<!-- begin #footer-copyright -->
	<div id="footer-copyright" class="footer-copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					&copy; 2023 Valkyrie Security Inc. All Right Reserved
				</div>
				<div class="col-md-6 text-md-right">
					<a href="#" class="mr-4">Contact Us</a> 
				</div>
			</div>
		</div>
	</div>
	<!-- end #footer-copyright -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{{ url_for('static', filename='one-page-parallax/js/form-app.min.js') }} "></script>
	<!-- ================== END BASE JS ================== -->
</body>
</html>
